[Desktop Entry]
Name=Fireshot
Name[zh_CN]=火焰截图
GenericName=Screenshot tool
GenericName[zh_CN]=屏幕截图工具
GenericName[uk]=Інструмент скриншотів
GenericName[es]=Herramienta de captura de pantalla
Comment=Powerful yet simple to use screenshot software.
Comment[zh_CN]=强大又易用的屏幕截图软件
Comment[uk]=Потужний простий у використанні додаток для створення знімків екрану.
Comment[es]=Software de captura de pantalla potente y fácil de usar.
Keywords=flameshot;screenshot;capture;shutter;
Keywords[zh_CN]=flameshot;screenshot;capture;shutter;截图;屏幕;
Keywords[es]=flameshot;screenshot;capture;shutter;captura;
Exec=@LAUNCHER_EXECUTABLE@
Icon=org.flameshot.Flameshot
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false
StartupWMClass=flameshot
Actions=Configure;Capture;Launcher;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.flameshot.Flameshot
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2

[Desktop Action Configure]
Name=Configure
Name[zh_CN]=配置
Name[uk]=Налаштувати
Name[es]=Configurar
Exec=flameshot config

[Desktop Action Capture]
Name=Take screenshot
Name[zh_CN]=进行截图
Name[uk]=Зробити знімок
Name[es]=Tomar captura de pantalla
Exec=flameshot gui --delay 500

[Desktop Action Launcher]
Name=Open launcher
Name[zh_CN]=打开启动器
Exec=flameshot launcher
